# -----------------------
# Operating System
# -----------------------

.DS_Store
Thumbs.db

# -----------------------
# VS Code / Cursor
# -----------------------

.vscode/
.idea/

# -----------------------
# Logs
# -----------------------

*.log
logs/

# -----------------------
# Temporary files
# -----------------------

*.tmp
*.temp

# -----------------------
# Python
# -----------------------

__pycache__/
*.pyc

# -----------------------
# Environment variables
# -----------------------

.env
.env.*

# -----------------------
# Docker Runtime Data
# -----------------------

config/
cache/
data/

# -----------------------
# Tailscale
# -----------------------

tailscale.state

# -----------------------
# Sonarr / Radarr / Prowlarr
# -----------------------

Backups/

# -----------------------
# Miscellaneous
# -----------------------

*.bak
*.old